

body {
  font-family: 'Oswald', sans-serif;
text-align: center;
background-color:#FF9A9A;
color: #31395B;
font-size: 18pt;
}

ul {
  text-align: left;
}

h1 {
  text-align: center;
  font-size: 48pt;
}

h2{
font-size: 36pt;

}

h3{
font-size: 24pt;
}

h4{
font-size: 24pt;
}
