body {


  font-family: 'Teko', sans-serif;
  background-color: #FBF5F6;
  color: #9C2436;
  font-size: 28pt;
  text-align: left;
}
a:link, a:visited {

  background-color: #FBF5F6;
  color: #9C2436;
  padding: 14px 25px;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {

    color: #FFC4C4;
  }

h1 {

font-size: 64pt;
text-align: center;
}

h4{
  font-size: 18pt;
}

td {
  width: 600px;
  padding: 10px;
    font-size: 20pt;
}


img{
  width: 600px;
}



}
